html(lang="en")
    include head.pug
    body
        main
            include nav.pug
            div.container
                div.center-align
                    div.card
                        img.responsive-img(src=article.imgSrc)
                h1=article.title
                p
                    - var i = 0;
                    while i < article.mark
                        i.material-icons.amber-text(style="font-size:32px;") star
                        - i++
                hr
                h2 Test :
                p(style="text-align:justify;")
                    p=article.description
                p.right
                    span Revue rédigée par :
                    i=article.author
                button.btn-flat.waves-effect.waves-green.green-text(onClick="like(" + article.id + ", \"" + user.articleLiked + "\", \"like\");")
                    i.material-icons thumb_up
                    span(id="like" + article.id)=article.like
                button.btn-flat.waves-effect.waves-red.red-text(onClick="like(" + article.id + ", \"" + user.articleLiked + "\", \"dislike\");")
                    i.material-icons thumb_down
                    span(id="dislike" + article.id)=article.dislike
                h4 Commentaires :
                if user
                    form(action="/api/post/ask", method="POST")
                        div.row
                            input(name="articleId", style="display : none;" value=article.id)
                            input.col.s3(name="authorRes", value=user.username, placeholder="Entrez votre pseudo" style="display:none;")
                        textarea#askContent(name="contentRes", placeholder="Ecrivez votre réponse" class="materialize-textarea" required)
                        input.btn.orange.black-text(type="submit", value="Répondre")
                ul.collection
                    if resp
                        each response in resp
                            if response.articleId == article.id 
                                li.collection-item
                                    h6=response.authorRes
                                    p(style="position : relative; left:16px;")=response.contentRes
                    else
                        li.collection-item
                            if user
                                p Soit le premier à commenter cet article !
                            else
                                a(href="/login") Connecte toi 
                                span et soit le premier à commenter cet article !
    include footer.pug